# Misc files
.Rhistory
*.Rproj
**/.DS_Store
*.iml
*.idea

# data files
**/*.rds
**/*.rda
**/*.csv

# build artifacts
**/*.tar.gz
.Rproj.user

# Compiled vignette
inst/doc/*
Meta/*
doc/*

# aspell stuff
**/*.bak
